<!-- # login.html - Script 9.12 -->
<section class="threeColumns">
    <article>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
    </article>
	<article class="twoThirds">
	    <h1>Login</h1>
	    <?php if ($form->isSubmitted() && $form->validate()) {
	        echo '<p class="error">The values submitted do not match those on file!</p>';
	    }?>
	    <?php echo $form; ?>
	</article>
</section>
